* {
  box-sizing: border-box;
  margin: 0 auto;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.header-wrap {
  background-image: url(sample-image/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  position: relative;
}

.header-nav ul {
  display: flex;
  justify-content: flex-end;
}

.header-nav li {
  margin: 0 30px;
}

.header-nav li:last-child {
  margin-right: 250px;
}

.header-container-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 50px;
}

.news {
  margin: 100px 50px;
}

.news-title {
  text-align: center;
  font-size: 38px;
  padding-bottom: 35px;
}

.news-list {
  max-width: 700px;
}

.news-list li {
  padding: 30px 0;
  border-bottom: 1px solid black;
}

.news-day {
  padding-right: 30px;
}

.image-container {
  display: flex;
}

.image-container img {
  width: 33%;
}
